body {
    font-family: Arial, sans-serif;
    color: #fff;
    /* background-color: #1a1a1a; */
    margin: 0;
}

section {
    padding: 60px 0;
}

h2 {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    background-color: #F5F5F5;
}

.card-title {
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #333 !important;
}

.navbar-nav .nav-link {
    color: #F5F5F5 !important;
}

.navbar-nav .nav-link.active {
    color: #929292 !important;
}

.navbar-nav .nav-link:hover {
    color: #929292 !important;
}


/* ----------------------- Hero Section ----------------------- */
.hero-section {
    background: #ffffff url("assets/heroImage.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    color: #333;
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-section p {
    color: #333;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* ----------------------- About Section ----------------------- */

.about-section {
    height: 100vh;
    background-color: #F5F5F5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section img {
    max-width: 350px;
    border-radius: 50%;
}

/* ----------------------- Skills Section ----------------------- */
.skills-section {
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 0;
    overflow-y: auto;
}

.skills-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 50px;
}

.skills-icons {
    gap: 15px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.skill-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skill-item p {
    margin: 0;
    font-size: 1rem;
    color: #ccc;
}

.skill-item:hover .skill-icon {
    transform: scale(1.1); /* Slightly enlarge icon on hover */
}

.skill-item:hover p {
    color: #fff; /* Highlight text on hover */
}

/* ----------------------- Projects Section ----------------------- */
.projects-section {
    height: 100vh;
    background-color: #F5F5F5;
    color: #333;
}

/* ----------------------- Contact Section ----------------------- */
.contact-section {
    height: 100vh;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-details p {
    margin: 15px 0;
}

.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact-btn i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.contact-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}



